.media
    .media-left.media-top
        = link_to (image_tag "#{comment.user.gender}.png"), user_path(comment.user.username), { class: 'media-object img-circle' }
    .media-body
        %h4.media-heading
            = link_to comment.user.username, user_path(comment.user.username)
        %p= comment.comment
        
        %p.pull-right
            %em= I18n.localize(comment.created_at.to_s.to_time, :format => '%e de %B del %Y a las %l:%M %p')