.col-md-10.col-md-offset-1
    .row
        .panel.panel-default
            .panel-body
                %h3 Mis Favoritos
                
                - if @favorites.empty?
                    %p.text-center Aun no has agregado historias a tus favoritos.
                    
                - else
                    .table-responsive
                        %table.table.table-striped.table-hover
                            %thead
                                %tr
                                    %th.text-center Título
                                    %th.text-center Autor
                                    %th.text-center Categoría
                                    %th.text-center Fecha
                                    %th.text-center
                                        %span.glyphicon.glyphicon-heart
                                    %th.text-center
                                        %span.glyphicon.glyphicon-comment
                            %tbody
                                - @favorites.each do |fav|
                                    %tr
                                        %td.text-center
                                            = link_to truncate(fav.title, :length => 30), fav
                                        %td.text-center= fav.user.username
                                        %td.text-center= Category.find(fav.category_id).name
                                        %td.text-center
                                            Hace
                                            =time_ago_in_words(fav.created_at)
                                        %td.text-center= fav.get_upvotes.size
                                        %td.text-center= fav.comments.count