.col-md-10.col-md-offset-1
    .row
        .panel.-panel-default
            .panel-body
                %h3= @story.title
                
                %p
                    %em
                        Posteado el
                        /%b= @story.created_at.to_s.to_time.strftime('%B %e %Y a las %l:%M %p')
                        %b= I18n.localize( @story.created_at.to_s.to_time, :format => '%e de %B del %Y a las %l:%M %p')
                        por
                        %b
                            = link_to @story.user.username, user_path(@story.user.username)
                %hr
                
                %p
                    =simple_format h @story.description

                - if ( can? :edit, @story )
                    .row.text-center
                        = link_to edit_story_path(@story) do
                            %span.glyphicon.glyphicon-pencil
                            Editar mi Historia
                
                %br
                    
                - if user_signed_in?
                    .row.text-center
                        .btn-group
                            = link_to like_story_path(@story), method: :put, :class => 'has-tooltip btn btn-default', "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "Me gusta!" do
                                %span.glyphicon.glyphicon-heart
                                = @story.get_upvotes.size
                            
                            - unless current_user.favorite_stories.exists?(id: @story.id)        
                                = link_to favorite_stories_path(story_id: @story), method: :post, class: 'btn btn-default' do
                                    %span.glyphicon.glyphicon-star
                                    Agregar a Favoritos
                            - else
                                = link_to favorite_story_path(@story), method: :delete, class: 'btn btn-danger' do
                                    %span.glyphicon.glyphicon-star
                                    Eliminar de Favoritos
                %hr
                
                %h3= pluralize(@story.comments.count, 'Comentario', 'Comentarios')
                    
                
                - if ( can? :create, Comment )
                    / Comment form
                    = form_for [@story, Comment.new] do |f|
                        .form-group
                            = f.label 'Agrega tu comentario:'
                            %br
                            = f.text_area :comment, rows: '3', class: 'form-control'
                            %br
                            = f.submit 'Agregar Comentario', class: 'btn btn-primary'
                
                        %hr

                / List of comments
                #comments
                    = render :partial => @comments

                    / Pagination
                    .row.text-center
                        = will_paginate @comments, renderer: BootstrapPagination::Rails

                %hr

                = link_to qp2_path do
                    %span.glyphicon.glyphicon-arrow-left
                    Regresar
                    
:javascript
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })